body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

.content {
    padding: 20px;
    height: 2000px; /* Делаем контент длинным для прокрутки */
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Скрываем кнопку по умолчанию */
    background-color: #1cbc11; /* Цвет кнопки */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.scroll-top:hover {
    background-color: #14a20a; /* Цвет кнопки при наведении */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}